@model TheTjerrs.Models.Partite

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Partite</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PartiId" />
            <div class="form-group">
                <label asp-for="EmriPartise" class="control-label"></label>
                <input asp-for="EmriPartise" class="form-control" />
                <span asp-validation-for="EmriPartise" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EpollId" class="control-label"></label>
                <select asp-for="EpollId" class="form-control" asp-items="ViewBag.EpollId"></select>
                <span asp-validation-for="EpollId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
